<div class="grid-container">
  <div class="card">
    <div class="title">Programming</div>
    <div class="icon"><i class="fa-thin fa-laptop-code"></i></div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Magni hic, voluptate debitis esse corporis dolor laudantium quae quo!</p>
    </div>
  </div>
  
  <div class="card">
    <div class="title">Security</div>
    <div class="icon"><i class="fa-thin fa-shield-check"></i></div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Magni hic, voluptate debitis esse corporis dolor laudantium quae quo!</p>
    </div>
  </div>
  
  <div class="card">
    <div class="title">Maintenance</div>
    <div class="icon"><i class="fa-thin fa-wrench-simple"></i></div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, voluptatum. Magni hic, voluptate debitis esse corporis dolor laudantium quae quo!</p>
    </div>
  </div>
</div>